<mat-list-item routerLink='/accounts/{{account.id}}'>
  <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
  <h4 mat-line>Konto {{account.name}}</h4>
  <p mat-line> {{account.iban}}</p>
  <p mat-line> {{account.balance}} PLN</p>
  <mat-icon class="icon-arrow-right" mat-list-icon>keyboard_arrow_right</mat-icon>
</mat-list-item>
<mat-divider></mat-divider>
