mat-card {
  width: 80%;
  height: 80%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-footer {
  //text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}

mat-tab-group {
  margin-bottom: 100px;
}

.account-icon {
  font-size: 100px;
  padding: 0 25%;
}

mat-list-item {
  h4, p {
    text-align: center;
  }
}
