<mat-grid-list *ngIf="account" cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-list-item>
      <i class="material-icons account-icon" mat-line>accessibility</i>
      <h4 mat-line>Właściciel konta</h4>
      <p mat-line>{{user.firstName}} {{user.lastName}}</p>
    </mat-list-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list-item>
      <i class="material-icons account-icon" mat-line>account_balance_wallet</i>
      <h4 mat-line>Nazwa konta</h4>
      <p mat-line>{{account.name}}</p>
    </mat-list-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list-item>
      <i class="material-icons account-icon" mat-line>toys</i>
      <h4 mat-line>Numer konta</h4>
      <p mat-line>{{account.iban}}</p>
    </mat-list-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list-item>
      <i class="material-icons account-icon" mat-line>monetization_on</i>
      <h4 mat-line>Stan konta</h4>
      <p mat-line>{{account.balance}} PLN</p>
    </mat-list-item>
  </mat-grid-tile>
</mat-grid-list>


<mat-tab-group>
  <mat-tab label="Wykonane">
    <app-transfers-table [direct]="'outgoing'"></app-transfers-table>
  </mat-tab>
  <mat-tab label="Otrzymane">
    <app-transfers-table [direct]="'incoming'"></app-transfers-table>
  </mat-tab>
</mat-tab-group>

