<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="form">
    <form *ngIf="!firstStepSubmited" [formGroup]="form">
      <ng-template matStepLabel>Wypełnij dane przelewu</ng-template>
      <form [formGroup]="form">
        <h1>Przelew krajowy</h1>
        <mat-form-field>
          <mat-select placeholder="Rachunek do pobrania kwoty przelewu" formControlName="userAccount">
            <mat-option *ngFor="let account of accounts$ | async" [value]="account">
              <span>{{ account.iban }}</span> |
              <small>PLN</small>
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="form.controls.userAccount.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.userAccount.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.userAccount.hasError('required')">
            Rachunek źródłowy jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Dane odbiorcy" formControlName="beneficiaryName"
                 [errorStateMatcher]="matcher">
          <button mat-button *ngIf="form.controls.beneficiaryName.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.beneficiaryName.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.beneficiaryName.hasError('required')">
            Dane odbiorcy są <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Numer rachunku odbiorcy" formControlName="beneficiaryAccountIban"
                 [errorStateMatcher]="matcher">
          <button mat-button *ngIf="form.controls.beneficiaryAccountIban.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.beneficiaryAccountIban.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.beneficiaryAccountIban.hasError('required')">
            Dane odbiorcy są <strong>wymagane</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
    <textarea matInput placeholder="Adres (opcjonalny)" formControlName="beneficiaryAddress" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5" [errorStateMatcher]="matcher"></textarea>
          <button mat-button *ngIf="form.controls.beneficiaryAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.beneficiaryAddress.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <hr>

        <div>Typ przelewu</div>
        <mat-radio-group formControlName="type">
          <mat-radio-button *ngFor="let transferType of transferTypes$ | async" [value]="transferType">
            {{transferType.name}}
          </mat-radio-button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.type.hasError('required') && form.controls.type.touched">
            Typ przelewu jest <strong>wymagany</strong>
          </mat-error>
        </mat-radio-group>

        <mat-form-field>
          <input matInput placeholder="Kwota przelewu" type="number" formControlName="amount"
                 [errorStateMatcher]="matcher">
          <button mat-button *ngIf="form.controls.amount.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.amount.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.amount.hasError('required')">
            Kwota przelewu jest <strong>wymagana</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.amount.hasError('min')">
            Kwota przelewu jest <strong>za mała</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.amount.hasError('max')">
            Kwota przelewu jest <strong>za duża</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
    <textarea matInput placeholder="Tytuł przelewu" formControlName="title" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5" [errorStateMatcher]="matcher"></textarea>
          <button mat-button *ngIf="form.controls.title.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.title.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.title.hasError('required')">
            Tytuł przelewu jest <strong>wymagany</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isDateRequired">
          <input matInput placeholder="Data przelewu" type="text" formControlName="date" [min]="startDate"
                 [errorStateMatcher]="matcher" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          <button mat-button *ngIf="form.controls.date.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.date.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Pole jest wymagane!</mat-hint>
          <mat-error *ngIf="form.controls.date.hasError('required')">
            Data przelewu jest <strong>wymagana</strong>
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="emailConfirm">Email z potwierdzeniem</mat-checkbox>

        <mat-form-field *ngIf="form.controls.emailConfirm.value">
          <input matInput placeholder="Email" type="email" formControlName="email"
                 [errorStateMatcher]="matcher">
          <button mat-button *ngIf="form.controls.email.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.email.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>Podaj prawidłowy adres email</mat-hint>
          <mat-error *ngIf="form.controls.email.hasError('email')">
            Podany adres email jest <strong>niepoprawny</strong>
          </mat-error>
        </mat-form-field>

        <button [disabled]="!form.valid" mat-raised-button color="primary" type="button" (click)="submitFirstStep()" matStepperNext>Przejdź do podsumowania</button>

      </form>
    </form>
  </mat-step>
  <mat-step [stepControl]="tokenForm">
    <form *ngIf="!secondStepSubmited" [formGroup]="tokenForm">
      <ng-template matStepLabel>Wpisz token sms</ng-template>
      <app-transfer-summary *ngIf="firstStepSubmited" [transferForm]="form.value"></app-transfer-summary>
      <mat-form-field *ngIf="firstStepSubmited">
        <input matInput placeholder="Token" type="number" formControlName="token"
               [errorStateMatcher]="matcher">
        <button mat-button *ngIf="tokenForm.controls.token.value" matSuffix mat-icon-button aria-label="Clear" (click)="tokenForm.controls.token.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>Pole jest wymagane!</mat-hint>
        <mat-error *ngIf="tokenForm.controls.token.hasError('required')">Token jest <strong>wymagany</strong>
        </mat-error>
        <mat-error *ngIf="tokenForm.controls.token.hasError('token')">Token jest <strong>nieprawidłowy</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="reload()">Anuluj</button>
        <button mat-button matStepperNext type="button" [disabled]="tokenForm.errors" (click)="tryExecuteTransfer()">Wykonaj przelew</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Wyślij przelew</ng-template>
    <app-transfer-summary *ngIf="firstStepSubmited" [transferForm]="form.value"></app-transfer-summary>
    <mat-spinner class="spinner-center" *ngIf="waitForTransferExecutionResult"></mat-spinner>
    <!--<app-execution-status transferResponse="transferReposnse" *ngIf="!waitForTransferExecutionResult"></app-execution-status>-->
    <button *ngIf="canGeneratePdf" mat-raised-button color="accent" (click)="generatePdf()">Generuj pdf</button>
  </mat-step>
</mat-horizontal-stepper>
