<mat-list>
  <h3 mat-subheader>Rachunek do pobrania kwoty przelewu</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <h4 mat-line>PL {{transferForm.userAccount.iban}}</h4>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Odbiorca przelewu</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>supervisor_account</mat-icon>
    <h4 mat-line>{{transferForm.beneficiaryAccountIban}}</h4>
    <p mat-line> {{transferForm.beneficiaryName}} </p>
    <p mat-line> {{transferForm.beneficiaryAddress}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Typ przelewu</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>toc</mat-icon>
    <h4 mat-line>{{transferForm.type.name}}</h4>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Kwota przelewu</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>attach_money</mat-icon>
    <h4 mat-line>{{transferForm.amount}} PLN</h4>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Tytuł przelewu</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>subtitles</mat-icon>
    <h4 mat-line>{{transferForm.title}}</h4>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Data przelewu</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>date_range</mat-icon>
    <h4 mat-line>{{transferForm.date}}</h4>
  </mat-list-item>
  <mat-divider></mat-divider>

  <h3 mat-subheader>Wysłać email z potwierdzeniem</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>email</mat-icon>
    <h4 mat-line>{{transferForm.emailConfirm ? 'Tak' : 'Nie'}}</h4>
    <p mat-line *ngIf="transferForm.emailConfirm">Na email: {{transferForm.email}}</p>
  </mat-list-item>

</mat-list>
