<mat-spinner *ngIf="isSpinnerVisible"></mat-spinner>
<form [formGroup]="form" *ngIf="isFormVisible">
  <mat-form-field>
    <input matInput placeholder="Login" formControlName="username"
           [errorStateMatcher]="matcher">
    <button mat-button *ngIf="form.controls.username.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.username.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Field is required</mat-hint>
    <mat-error *ngIf="form.controls.username.hasError('required')">
      Login is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.controls.username.hasError('minLength')">
      Min length of login is <strong>4</strong> chars
    </mat-error>
    <mat-error *ngIf="form.controls.username.hasError('maxLength')">
      Max length of login is <strong>20</strong> chars
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password"
           [errorStateMatcher]="matcher" type="password">
    <button mat-button *ngIf="form.controls.password.value" matSuffix mat-icon-button aria-label="Clear" (click)="form.controls.password.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Field is required</mat-hint>
    <mat-error *ngIf="form.controls.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('minLength')">
      Min length of password is <strong>4</strong> chars
    </mat-error>
    <mat-error *ngIf="form.controls.password.hasError('maxLength')">
      Max length of password is <strong>20</strong> chars
    </mat-error>
  </mat-form-field>

  <button [disabled]="!form.valid" mat-raised-button color="primary" type="submit" (click)="login()">Zaloguj</button>
</form>
