<button class="toolbar-menu" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item (click)="goToAdminDashboard()">
    <mat-icon>voicemail</mat-icon>
    <span>Admin dashboard</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>notifications_off</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
