//noinspection CssUnknownTarget
:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;

  h1 {
    font-size: 35px;
    font-weight: 300;
    font-bold: true;
    line-height: 10px;
  }
}
