<mat-toolbar mat-dialog-title><span>Informacje o transakcji</span></mat-toolbar>
<div mat-dialog-content>
  <div class="dialog-bonuses-row">
    <div class="dialog-bonuses">
      <mat-list>
        <h3 mat-subheader>Transakcja</h3>
        <ng-container>
          <mat-list-item>
            <h4 mat-line>Data transakcji</h4>
            <p mat-line>{{data.transactionDate['dayOfMonth']}} {{data.transactionDate['month']}} {{data.transactionDate['year']}}</p>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>Tytuł transakcji:</h4>
            <p mat-line>{{data.title}}</p>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>Kwota transakcji:</h4>
            <p mat-line>{{data.amount}}</p>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>Typ transakcji:</h4>
            <p mat-line>{{data.type.name}}</p>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
  </div>

  <div class="dialog-bonuses-row">
    <div class="dialog-bonuses">
      <mat-list>
        <h3 mat-subheader>Odbiorca</h3>
        <ng-container>
          <mat-list-item>
            <h4 mat-line>Nazwa odbiorcy:</h4>
            <p mat-line>{{data?.beneficiary?.fullName}}</p>
          </mat-list-item>

          <mat-list-item>
            <h4 mat-line>Numer konta odbiorcy:</h4>
            <p mat-line>{{data?.beneficiary?.accountIban}}</p>
          </mat-list-item>

          <mat-list-item *ngIf="data.beneficiary.address">
            <h4 mat-line>Adres odbiorcy:</h4>
            <p mat-line>{{data?.beneficiary?.address}}</p>
          </mat-list-item>

        </ng-container>
      </mat-list>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Zamknij</button>
  <button mat-raised-button color="accent" (click)="generatePdf()">Generuj pdf</button>
</div>
